:host ::ng-deep {
    mat-grid-list {
        height: calc(272px) !important;
    }

    .mat-form-field {
        width: 94%;
    }

    .mat-grid-tile {
        height: calc(60px) !important;
    }

    #subBtn1 .mat-grid-tile-content {
        width: 100%;
    }

    .mat-grid-tile button {
        width: 83%;
    }

    .mat-grid-tile-content {
        display: block;
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #9ddcb9
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #9ddcb9
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
        color: black;
    }
}

.submitBtn {}

#subBtn1 {
    top: calc(200px) !important;
}