/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // padding: 30px;
}

.margin-20px {
    margin: 0px 20px;
}

.margin-5px {
    margin: 0 5px;
}